cos:
 access_key: <IBM COS access_key>
 secret_key: <IBM COS secret_key>

iam:
 ibm_iam_key: <IBM CLoud IAM KEY>
 iam_endpoint: https://iam.cloud.ibm.com

 ibm:
 resource_group_id: <IBM Cloud Resource Group ID>
