azure-mgmt-resource
azure-mgmt-compute
azure-mgmt-network
azure-identity
azure-storage-blob
awscrt
boto3
flask
numpy
google-api-python-client
google-cloud-compute
google-cloud-storage
setproctitle
termcolor
tqdm
werkzeug
oslo.concurrency
paramiko
