# cloud dependencies
# awscrt
azure-identity
# removed from gateway due to large size
# azure-mgmt-compute
# azure-mgmt-network
# azure-mgmt-resource
azure-mgmt-storage
azure-mgmt-authorization
azure-storage-blob>=12.0.0
boto3
google-api-python-client
google-auth
google-cloud-compute
google-cloud-storage
# shared dependencies
cachetools
paramiko
rich
# gateway dependencies
flask
lz4
pyopenssl
werkzeug
pyyaml
ibm-platform-services
ibm-watson
ibm-cloud-sdk-core
ibm-vpc
ibm-cos-sdk
inquirer
numpy
pandas
